body {
    color: white;
    font-family: url(/Users/aerynquarmby/Desktop/HTML&CSSCourse/fonts/HappyMonkey-Regular.ttf);
    text-align: center;
    background: linear-gradient(black, blue, purple);
}

#profile {
    border-radius: 50%;
    width: 300px;
    box-shadow: 0px 5px 5px white;
    border: 5px solid white;
}

#bday-age {
    background: green;
    border-radius: 5px;
    padding: 5px 8px;
}

#bday-date {
    background: green;
    border-radius: 5px;
    padding: 5px 8px;
    margin-top: -5px;
}

#header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#gift-section {
    margin-top: 50px;
}

.gift-hover {
    margin-top: -10px;
}

.gift-img {
    margin: 0 auto;
    border: 8px solid green;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    background-image: url(/Users/aerynquarmby/Desktop/HTML&CSSCourse/images/Gift-box-illustration-on-transparent-background-PNG.png);
    background-size: cover;
    
}

.gift-img:hover {
    background-image: url(https://media.giphy.com/media/4pGwaW3nuRD1e/giphy.gif);

}

#gift-section2 {
    margin-top: 100px;
}

.gift-img2 {
    margin: 0 auto;
    border: 8px solid green;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    background-image: url(/Users/aerynquarmby/Desktop/HTML&CSSCourse/images/Gift-box-illustration-on-transparent-background-PNG.png);
    background-size: cover;
}

.gift-img2:hover {
    background-image: url(https://media.giphy.com/media/EtG6C5ncwVfCIANZne/giphy.gif);
}

#gift-section3 {
    margin-top: 100px;
}

.gift-img3 {
    margin: 0 auto;
    border: 8px solid green;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    background-image: url(/Users/aerynquarmby/Desktop/HTML&CSSCourse/images/Gift-box-illustration-on-transparent-background-PNG.png);
    background-size: cover;
}

.gift-img3:hover {
    background-image: url(https://media.giphy.com/media/TIvv7HIMVzbZm/giphy.gif);
}


#gift-section4 {
    margin-top: 100px;
}

.gift-img4 {
    margin: 0 auto;
    border: 8px solid green;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    background-image: url(https://www.niemanlab.org/images/Viktoriaa-Liutova-e1624366176190.png);
    background-size: cover;
}

.gift-img4:hover {
    background-image: url(https://media.giphy.com/media/dqKDx0VUGKgGA/giphy.gif);
}

#gift-section5 {
    margin-top: 100px;
}

.gift-img5 {
    margin: 0 auto 50px auto;
    border: 8px solid green;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    background-image: url(https://www.apa.org/images/holiday-gifts-title-image_tcm7-226231.jpg);
    background-size: cover;
}

.gift-img5:hover {
    background-image: url(https://media.giphy.com/media/BCIoXfA95d1ba/giphy.gif);
}

#footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px auto 20px;
    width: 400px;
}

#hov {
    color: white;
}